body {
    margin: 0;
    padding: 0;
    text-align: center;
}

a {
    color: red;
}

li {
    margin: 10px 0;
}

div {
    width: 100%;
    display: flex;
    justify-content: center;
}

figure {
    padding: 10px;
    margin: 10px;
}

figcaption {
    display: none;
}

img {
    width: 100%;
    cursor: pointer;
}