body{
    margin: 0;
    padding: 0;
    text-align: center;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
}

figure{
    padding: 10px;
    margin: 10px;
}

img{
    width: 100%;
    cursor: pointer;
}